<div class="container"> 

    <div class="in_container">
    
      <form action="/artists-search" class="do_artist_search">
        <input placeholder="Search for an artist!"  type="text" name="artist" id="input_artist_search">
        <button class="btn btn-primary home-search" type="submit">Search for an Artist</button>
      </form>
    </div>
  </div>
  