<div id="bg-image">
    <div id="form-ctn">
        <form id="search-form" method="GET" action="/artist-search">
            <label id="search-label" for="artist-input">
                <input id="search-input" class="form-elem" type="text" name="name">
            </label>
            <button id="search-btn" class="form-elem" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>