<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="menu">
            <div class="logo-ctn">
                <a href="/">
                    <img class="spotify-logo" src="../images/Spotify_Logo_CMYK_Green.png" alt="spotify-logo">
                </a>
            </div>
            <div class="sign">
                <span><a href="https://github.com/etiennebelle" target="_blank">Etienne B. اتیین</a></span>
            </div>
        </div>
    </header>
    <%- body %>
</body>
</html>